@import "colors";

a {
  color: $link-color;
  @apply cursor-pointer;
  &:hover {
    color: $link-color-hover;
  }

  &.navigator {
    color: $navigator-color;
    @apply font-bold hover:underline;
    &:hover {
      color: $navigator-color-hover;
    }
  }

  &.icon {
    color: $icon-color;
    @apply text-3xl md:text-4xl;
  }
}
