$background-color: theme('colors.gray.800');
$navbar-color-initial: theme('colors.gray.900');
$navigator-color: theme('colors.gray.50');
$navigator-color-hover: theme('colors.gray.100');
$link-color: theme('colors.blue.400');
$link-color-hover: theme('colors.blue.500');
$text-color: theme('colors.gray.300');
$icon-color: theme('colors.gray.50');
