@import "tailwindcss";

@theme {
  --color-background: #1f2937;
  --color-navbar: #111827;
  --color-text: #d1d5db;
  --color-link: #60a5fa;
  --color-link-hover: #3b82f6;
  --color-heart: #ef4444;
  --color-react: #60a5fa;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: system-ui, -apple-system, sans-serif;
}

.padding-content {
  @apply px-10 md:px-20 xl:px-40 py-8;
}

.text-color {
  @apply text-gray-300;
}