@import "../../styles/colors";

.contacts-container {
  @apply flex place-content-center;
  @apply py-10;
  @apply space-x-6 sm:space-x-10 md:space-x-16 xl:space-x-20;
}

.fa-instagram * {
  fill: url(#instagradient);
}

.fa-facebook {
  color: $facebook-color;
}

.fa-telegram {
  color: $telegram-color;
}

.fa-linkedin {
  color: $linkedin-color;
}

.fa-envelope {
  color: bisque;
}

.fa-medium {
  color: black;
}

.fa-white-background {
  height: 95%;
  color: white;
}
